.acoount_container{
    margin: 40px auto;
    width: 50%;
    padding: 10px 15px;
    border-radius: 6px;
}
.rounded-circle{
    object-fit: cover;
    border-radius: 50%;
}
.account{
    position: relative;
}
.account_img{
    display: inline-block;
}
.account_body{
    position: absolute;
    left: 8rem;
    display: inline-block;
    color: black;
    justify-content: center;
}
.account_heading{
    margin-top:10px;
}
.account_legend{
    font-weight: 700;
}
@media(max-width:645px){
    .account{
        height: 200px;
    }
    .account_img{
        display: block;
    }
    .account_body{
        display: block;
        top: 6rem;
        left: 0;
    }
    .acoount_container{
        margin: 40px auto;
        width: 70%;
        padding: 10px 15px;
        border-radius: 6px;
    }
}
