{% extends 'layout.html' %}
{% block content %}
<div class="about_container">
    <h1>About Us</h1>
    <p class="about_paragraph">Welcome to <span>SnapPost</span> a platform dedicated to connecting people 
        through the power of ideas, stories, and creativity.
         Whether you want to share a personal experience or express an 
         opinion, <span>SnapPost</span> provides 
         you with the tools to let your voice be heard.</p>
         <h4>Join Us Today</h4>
         <p class="join_para">Become part of a growing community of thinkers, creators, and dreamers. 
            At SnapPost, your story is important. 
            Join us and start sharing today!</p>
</div>
{% endblock %}